<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>angular-pintura demo</title>
    <link href="styles/styles.css" rel="stylesheet">
  </head>
  <body ng-controller="PinturaCtrl">
    <div class="container">
      <h1>angular-pintura</h1>
      <div class="row"> 
        <form class="col-md-2">
          <div class="form-group">
            <button type="button" ng-click="setURLSource1()" class="btn btn-default btn-block">URL-Source 1</button>
            <button type="button" ng-click="setURLSource2()" class="btn btn-default btn-block">URL-Source 2</button>
            <button type="button" ng-click="setObjectSource()" class="btn btn-default btn-block">Object-Source</button>
            <button type="button" ng-click="setSmallImage()" class="btn btn-default btn-block">Small-Image</button>
            <button type="button" ng-click="setCollage()" class="btn btn-default btn-block">Collage</button>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="image.fitOnload">Fit-onload
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="image.showIndicator">Show-inidcator
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Scaling
              <input ng-model="image.scaling" type="number" class="form-control">
            </label>
            <label>Max-Scaling
              <input ng-model="image.maxScaling" type="number" class="form-control">
            </label>
            <label>Scale-Step
              <input ng-model="image.scaleStep" type="number" class="form-control">
            </label>
            <label>MWheel-Scale-Step
              <input ng-model="image.mwScaleStep" type="number" class="form-control">
            </label>
          </div>
          <div class="form-group"> 
            <label>Position-X
              <input ng-model="image.position.x" type="number" class="form-control">
            </label>
            <label>Position-Y
              <input ng-model="image.position.y" type="number" class="form-control">
            </label>
            <label>Move-Step
              <input ng-model="image.moveStep" type="number" class="form-control">
            </label>
          </div>
        </form>
        <div class="col-md-10">
          <div ng-if="image.progress &amp;&amp; image.progress &lt; 1" class="progress">
            <div role="progressbar" aria-valuenow="{{image.progress}}" aria-valuemin="0" aria-valuemax="1" style="width:{{image.progress*100}}%" class="progress-bar"></div>
          </div>
          <ng-pintura ngp-src="image.src" ngp-scaling="image.scaling" ngp-position="image.position" ngp-max-scaling="image.maxScaling" ngp-scale-step="image.scaleStep" ngp-move-step="image.moveStep" ngp-mw-scale-step="image.mwScaleStep" ngp-fit-onload="image.fitOnload" ngp-show-indicator="image.showIndicator" ngp-progress="image.progress">
            <div id="zoomslider">
              <input ng-model="slider.value" ng-change="sliderChange()" orient="vertical" type="range" min="0" max="100" step="1" ng-disabled="scalingDisabled">
            </div>
            <button id="zoomin" ng-click="zoomIn()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
            <button id="zoomout" ng-click="zoomOut()" ng-disabled="scalingDisabled" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
            <button id="moveup" ng-click="moveUp()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-up"></span></button>
            <button id="movedown" ng-click="moveDown()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <button id="moveleft" ng-click="moveLeft()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <button id="moveright" ng-click="moveRight()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
            <button id="movecenter" ng-click="fitInView()" class="btn btn-default"><span class="glyphicon glyphicon-screenshot"></span></button>
            <button id="rotateleft" ng-click="rotateLeft()" class="btn btn-default"><strong>&#10226;</strong></button>
            <button id="rotateright" ng-click="rotateRight()" class="btn btn-default"><strong>&#10227;</strong></button>
          </ng-pintura>
        </div>
      </div>
    </div>
    <!-- libs-->
    <script src="lib/angular/js/angular.min.js"></script>
    <script src="lib/konva/js/konva.min.js"></script>
    <!-- panoramaviewer scripts-->
    <script src="js/angular-pintura.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>