doctype
html(ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title angular-pintura demo
  body(ng-controller='PinturaCtrl')
    .container
      h1 angular-pintura
      .row 
        form(role=form).col-md-2
          .form-group
            button.btn.btn-default.btn-block(type='button', ng-click='setURLSource1()') URL-Source 1
            button.btn.btn-default.btn-block(type='button', ng-click='setURLSource2()') URL-Source 2
            button.btn.btn-default.btn-block(type='button', ng-click='setObjectSource()') Object-Source
            button.btn.btn-default.btn-block(type='button', ng-click='setSmallImage()') Small-Image
            button.btn.btn-default.btn-block(type='button', ng-click='setCollage()') Collage
          .form-group: .checkbox: label
            input(type='checkbox', ng-model='image.fitOnload')
            | Fit-onload
          .form-group: .checkbox: label
            input(type='checkbox', ng-model='config.showHotspots')
            | Show-Hotspots
          .form-group
            label
              | Scale (absolute)
              input.form-control(ng-model='config.scale', type='number')
            label
              | Relative-Scale (0 to 1)
              input.form-control(ng-model='config.relativeScale', type='number')
            label
              | Max-Scale (absolute)
              input.form-control(ng-model='config.maxScale', type='number')
            label
              | Button-Scale-Step
              input.form-control(ng-model='image.scaleStep', type='number')
            label
              | MWheel-Scale-Step
              input.form-control(ng-model='image.mwScaleStep', type='number')
          .form-group 
            label
              | Position-X
              input.form-control(ng-model='image.position.x', type='number')
            label
              | Position-Y
              input.form-control(ng-model='image.position.y', type='number')
            label
              | Move-Step
              input.form-control(ng-model='image.moveStep', type='number')
        .col-md-10
          | {{config.relativeScale}}
          kd-pintura(kdp-config='config')
            include controls.pug